body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background: #8fd5d6;
}

.col-md-12 {
  background: rgb(148, 89, 177);
}

.card-text {
  color: white;
}

.input-group {
  margin-bottom: 0px;
}
